
.barminval{
    text-align: right;
    color: #6f6f6f;
    width: 25%;
    position: absolute;
}
.barmiddleval{
    text-align:right;
    color: #6f6f6f;
    width: 50%;
    position: absolute;
}
.barbigmiddleval{
    text-align:right;
    color: #6f6f6f;
    width: 75%;
    position: absolute;
}
.barlargeval{
    text-align:right;
    color: #6f6f6f;
    width: 100%;
    position: absolute;
}
.barscroll{
    margin:6px;
    width: 500px;
    height: 20px;
    background: #fff;
    border:1px solid #ccc;
    position: relative;
    float: left;
}
.barbtn{
    width: 15px;
    height: 28px;
    background: #0095AC;
    position: absolute;
    top: -5px;
    left: 0;
    cursor: pointer;
    border:1px solid #0095AC;
    z-index: 999;
}
.masktools{
    position: absolute;
    left: 0;
    top: 0;
    background: #2dacd1;
    width: 0;
    height: 20px;
}


.baryy1{
    float:left;width: 1px;height: 15px; background: #6f6f6f;margin-top: 7px;margin-left: 4px;
}
.baryy2{
    float:left;width: 1px;height: 15px; background: #6f6f6f;margin-top: 7px;margin-left: 5px;
}
.baryy3{
    float:right;width: 1px;height: 20px; background: #a79e9e;margin-left: 2px;
}